.modal_contentt_t {
    padding: 20px;
    background-color: #7e28e0;
    border-radius: 2px;
    display: inline-block;
    margin: 2rem;
    margin-top: 130px;
    position: relative;
    width: 800px;
    height: 443px;
    box-shadow: -5px -5px 10px gainsboro;
    justify-self: center;
  }
.PersonalDta{
    display: grid;
grid-template-columns: repeat(2,1fr);
grid-template-rows: minmax(100,auto);
justify-content: space-around;
grid-gap: 0.35em;
}
.soraaaa{
    margin-right: 90px;

}
.PersonalDta div{
    /* background-color: gray; */
    color: white;
text-align: right;
display: flex;
flex-direction: column;
align-items: flex-end;
margin-bottom: -30px;
}

/* .PersonalDta div Form Form.Control{
    width: 200px;
} */