* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.main_div {
  width: 100%;
  text-align: center;
}
.header_ {
  margin-top: 80px;
}
.header_ > div {
  width: 95%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header_ > div:hover {
  cursor: pointer;
}
.navbarrr {
  width: 80%;
  height: 80px;
  margin: auto;
  background-color: #7f29e2;
  padding: 35px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
}
.table {
  width: 80%;
  margin: auto;
  margin-top: 10px;
  background-color: gainsboro;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}
.table_header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px 0;
}
.table_content {
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px 0;
}
